/* index.css */
/* 반응형 css 속성 변경 시 애니메이션 적용 속성 */
body * {transition:all 0.5s;} /* 반응형 적용시 부드럽게 적용됨 !!! 필수는 아님  */
/* 1행 ============================북극곰 후원 안내 */
#wrap {} /* 기본값 유지를 위해 작성하지 않음. 기본값-> 너비는 부모의 100%, 높이는 내용만큼 */
#wrap .intro { /* 큰 1행 */
    height:100vh; /*  */
    background:url(../images/bg1.png)no-repeat center / cover;
    position:relative;
    padding:100px 0;
    
}
#wrap .intro::before {
    content:''; display:block; /* 가상요소(after)의 필수속성 */
    width:100%; height:100%;
    position:absolute; left:0; top:0;
    background:linear-gradient(360deg, #000, transparent);
    z-index:100;

}
#wrap .intro .container { 
    position:relative; z-index:200; /* z-index before보다 위에 올라와있어야 함. before보다 낮게있으면 a태그들이 선택이 안됨 그렇기 때문에 z-index을 사용해서 위치를 각각 주기 */
    /* border:1px solid aqua; */
    max-width:1250px; height:auto;
    min-width:320px;
    margin:0 auto; /* 디바이스크기보다 width가 작은 블록요소를 가운데배치하는 방법 */
    /* 형제-형제 margin, 부모-자식 padding */
    display:block;
    /* 자식, 자손이 인라인일 경우 수평정렬 text-align */
    text-align:center;
    /* 자식의 float 적용으로 인해 부모 바깥으로 나가는 문제해결 오버플로워 히든 */
    overflow:hidden;
    
    
}
#wrap .intro .container h1:nth-child(1) {
    text-align:left; /* 팬더로고가 왼쪽으로 감 */
    margin:0 0 100px;
}
#wrap .intro .container h1:nth-child(1) a {
}
#wrap .intro .container h1:nth-child(1) a img {width:89px;/* 가로쓰면 세로는 따라옴 */}
#wrap .intro .container h1:nth-child(2) {
    font-size:4.375rem;
    color:#fff;
    line-height:1.3;
}
#wrap .intro .container h1:nth-child(2) em {
    color:#fff;
    font-weight:700;
}
#wrap .intro .container .sponsor_btn {
    display:block; 
    font-size:2.125rem;
    font-weight:700;
    color:#fff;
    width:409px; margin:100px auto; /* 화면 가운데 오게 */
    /* 수직 중앙 배치해야하는 글자가 1줄일 경우 height 생략 가능.
    line-height만 px값으로 정리 */
    line-height:71px; /* 높이값을 line-height로 주기 */
    background:linear-gradient(90deg,#FE9300,#FF7300);
    border-radius:50px;
    

}
#wrap .intro .container .sponsor_question {
    float:right;
    color:#fff;
    font-size:1.625rem;
    background:#000;
    border-radius:30px;
    height:51px;
    line-height:1.2;
    width:439px;
    padding-top:10px;
    
}
/* 2행 ============================퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover;
}
#wrap .quiz .container {
    max-width:1250px; 
    min-width:320px;
    /* border:1px solid aqua; */
    margin:0 auto; /* 가운데 */
    display:grid; /* 왼쪽퀴즈, 오른쪽참여현황 정렬grid */
    grid-template-columns:1fr 1fr; /* 반반 옆으로 */
    padding:150px 0; /* 틀린건 아니지만 부모한테 주려면 quiz에 줘도 됨 */
    
}
#wrap .quiz .container #left_quiz {margin-bottom:50px;}
#wrap .quiz .container #left_quiz * {color:#fff;}/* left quiz의 모든 자식 자손 */
#wrap .quiz .container #left_quiz h2 {
    text-align:center;
    font-size:3.438rem;
    margin-bottom:38px; /* margin:0 0 38px; */
}
#wrap .quiz .container #left_quiz h3 {}
#wrap .quiz .container #left_quiz .list {
    display:grid; /* 기본 수직형태 */
    grid-template-rows: repeat(4, 34px);/* 34px 34px 34px 34px; */
    margin:8px 0 38px; /* 이거 다시체크해보기 */
}
#wrap .quiz .container #left_quiz .list label {
   /*  background-color:aqua; */
    
}
#wrap .quiz .container #left_quiz .list label input[value*=q] {display:none;}
#wrap .quiz .container #left_quiz .list label input[value*=q]:checked+span {
    background-image:url(../images/chk_on.png); /* input이 체크되면  */
}
#wrap .quiz .container #left_quiz .list label span {
    background-image:url(../images/chk_off.png);
    display:block;
    /*  배경반복+배경위치+왼쪽여백+행간 설정 */
    background-repeat:no-repeat;
   /*  background-color:yellow; */
    line-height:34px;
    background-position-y:3px ;
    padding-left:48px;
}
#wrap .quiz .container #left_quiz #answer_btn {
    background:#050505; width:100%;
    height:54px;
    border-radius:50px;
}
#wrap .quiz .container .right {text-align:right; padding:68.92px 0;}
#wrap .quiz .container .right p {}
#wrap .quiz .container .right p:nth-child(1) {}
#wrap .quiz .container .right p:nth-child(1) img {
    width:70%;
}
#wrap .quiz .container .right p:nth-child(2){color:#fff;}

/* 3행 ============================새끼 북극곰 이야기 */
#wrap .ad {
    background-image:url(../images/video_bg.png) right /cover;
    /*  background-image:url(../images/video_bg.png) center / cover;*/
    padding:200px 0;

}
#wrap .ad .container {
    max-width:1250px; min-width:320px;
    text-align:center;
    margin:0 auto;
    /* border:3px solid orange; */
}
#wrap .ad .container h2 {
    font-size:3.438rem;
    font-weight:500;
    line-height:1.2;
    margin-bottom:70px;
    
}
#wrap .ad .container iframe {
    max-width:900px; width:100%;
    height:600px; margin:70px 0;
}
#wrap .ad .container .sponsor_btn {
    display:block;
    width:409px;
    line-height:71px; 
    background:linear-gradient(90deg,#FE9300,#FF7300);
    border-radius:50px;
    font-size:2.125rem;
    font-weight:700;
    color:#fff;
    margin:100px auto 0;
}

/* 4행 ============================빙하면적 감소*/
#wrap .glacial_reduction {
    background-image:url(../images/50_bg.png);
    background-size:cover;
    padding:200px 0;
}
#wrap .glacial_reduction .container {
    border:3px solid red;
    max-width:1250px; min-width:320px;
    margin:0 auto;
    
}
#wrap .glacial_reduction .container h2 {
    font-size:3.438rem; color:#fff;
    line-height:1.2;
    margin-bottom:81px;
}
#wrap .glacial_reduction .container h2 em {background-color:#fff; color:#050505;}
#wrap .glacial_reduction .container p {
    color:#fff;
    font-size:2.125rem;
}
#wrap .glacial_reduction .container p img {
    width:100%;
    height:550px;
}
/* 5행 ============================인류재앙 */
#wrap .disaster {
    background-color:#F5F5F5;
    padding:200px 0;
}
#wrap .disaster .container {
    /* border:1px solid red; */
    max-width:1250px; min-width:320px;
    /* 최소 320~ 최대 1250 사이 너비값은 가변형 세팅 */
    /* (위) 큰 범위값 세팅 후 @media 규칙 내에서 태블릿, 모바일에 맞는 레이아웃 재수성하며 반응형 제작 */
    margin:0 auto;
    text-align:center;
}
#wrap .disaster .container h2 {
    font-size:2.5rem;
    font-weight:700;
    margin-bottom:55px;
    
    
    
}
#wrap .disaster .container > p {}
#wrap .disaster .container .list {
    display:flex; flex-flow:row nowrap;
    /* 옆으로 정렬하는 대상(li)의 부모 (flex) */
    /* flex의 자식요소들을 옆으로정렬(기본값) flex-flow:row nowrap */
    gap:20px; /* 사이 여백 */
    margin-top:55px;
}
#wrap .disaster .container .list li {
    background:#fff;
    flex:1;
}
#wrap .disaster .container .list li .bg {
    height:320px; /* 백그라운드 이미지 크기 */
    background-position:0 70%;
    background-size:cover; /* 100%로도 가능 */
    position:relative;
}
#wrap .disaster .container .list li .bg::before {
    content:''; display:block; /* 블록은 크기 인식되라고 설저ㅇ */
    position:absolute; left:0; top:0; width:100%; height:100%;
    /* (위) content~height속성까지 before 또는 after 가상요소 사용 시 필수속성 모음 */
    background:linear-gradient(180deg,#000 10%, transparent 60%);
    /* background:linear-gradient(#첫번째색상 위치%, #두번째색상 위치%);
    */
    z-index:50;
}
#wrap .disaster .container .list li .bg h3 {
    font-size:2.688rem;
    color:#fff;
    font-weight:700;
    z-index:100;
    position:relative; /* z-index 쓰려면 반드시 position이 있어야함 */
    /* z-index속성은 position속성이 선행되어야만 사용할 수 있는 중첩 속성이다 */
    margin-bottom:11px;
    padding-top:48px;
}
#wrap .disaster .container .list li .bg p {
    z-index:100;
    color:#fff;
    position:relative; /* z-index 쓰려면 반드시 position이 있어야함 */
    /* z-index속성은 position속성이 선행되어야만 사용할 수 있는 중첩 속성이다 */
    font-weight:500;
    font-size:1.25rem;
    
    
    
}
#wrap .disaster .container .list li > p {
    font-size:1.25rem;
    line-height:1.7;
    height:250px;
    padding:20px;
    
}
/* 5행 개별배경 선택자 */
#wrap .disaster .container .list li:nth-child(1) .bg {
    background-image:url(../images/28.png);
    
    
}
#wrap .disaster .container .list li:nth-child(2) .bg {
    background-image:url(../images/27.png);
    
}
#wrap .disaster .container .list li:nth-child(3) .bg {
    background-image:url(../images/wwf.jpg);
    background-size:cover;
    background-position:0 70%;

}
/* 6행 ============================지구위기 */
/* 7행 ============================WWF 단체활동 */
/* 8행 ============================다양한 활동 */
/* 9행 ============================감사선물 */
/* 10행 ============================결제 안내사항 */